*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(104, 104, 104);
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  margin: auto;
  border-radius: 8px;
  /* border: 2px solid rgb(66, 66, 180); */
  color: #000;
  /* box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5); */
}

.items {
  margin: auto;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}